/* src/components/LandingPage.css */

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-card {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-direction: column;
}

.user-card img {
    margin-bottom: 20px;
}

.user-card .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.user-card .buttons button {
    flex: 1;
    margin: 0 5px;
}
